In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('crop_yield.csv')
df.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [6]:
df.shape

(19689, 10)

Checking for null and duplicate data

In [7]:
df.isnull().sum()

Crop               0
Crop_Year          0
Season             0
State              0
Area               0
Production         0
Annual_Rainfall    0
Fertilizer         0
Pesticide          0
Yield              0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             19689 non-null  object
 1   Crop_Year        19689 non-null  int64
 2   Season           19689 non-null  object
 3   State            19689 non-null  object
 4   Area             19689 non-null  float64
 5   Production       19689 non-null  int64
 6   Annual_Rainfall  19689 non-null  float64
 7   Fertilizer       19689 non-null  float64
 8   Pesticide        19689 non-null  float64
 9   Yield            19689 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 1.5+ MB

In [13]:
df.duplicated().sum()

0

In [14]:
df.describe()

,Crop_Year,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
count,19689.000000,1.968900e+04,1.968900e+04,19689.000000,1.968900e+04,1.968900e+04,19689.000000
mean,2009.127584,1.799266e+05,1.643594e+07,1437.755177,2.410331e+07,4.884835e+04,79.954009
std,6.498099,7.328287e+05,2.630568e+08,816.909589,9.494600e+07,2.132874e+05,878.306193
min,1997.000000,5.000000e-01,0.000000e+00,301.300000,5.417000e+01,9.000000e-02,0.000000
25%,2004.000000,1.390000e+03,1.393000e+03,940.700000,1.880146e+05,3.567000e+02,0.600000
50%,2010.000000,9.317000e+03,1.380400e+04,1247.600000,1.234957e+06,2.421900e+03,1.030000
75%,2015.000000,7.511200e+04,1.227180e+05,1643.700000,1.000385e+07,2.004170e+04,2.388889
max,2020.000000,5.080810e+07,6.326000e+09,6552.700000,4.835407e+09,1.575051e+07,21105.000000

Train Test Split and

In [21]:
X = df.drop('Yield',axis=1)
y = df['Yield']

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [24]:
X_test

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide
18238,Peas & beans (Pulses),2016,Kharif,Jammu and Kashmir,210.00,1010,902.8,3.218250e+04,73.5000
6918,Maize,1999,Rabi,Odisha,8270.00,10280,1484.3,8.776951e+05,2232.9000
4894,Potato,2016,Winter,Meghalaya,6341.00,44026,3837.1,9.717582e+05,2219.3500
10960,Ragi,2008,Autumn,Jharkhand,29768.73,27189,1295.2,4.258119e+06,2679.1857
15615,Castor seed,2017,Kharif,Madhya Pradesh,8950.00,4970,800.0,1.409088e+06,3401.0000
...,...,...,...,...,...,...,...,...,...
8087,Onion,2002,Whole Year,Karnataka,114975.00,535821,860.8,1.088468e+07,28743.7500
14720,Jowar,2015,Autumn,West Bengal,25.00,9,1717.0,3.947750e+03,8.2500
9234,Groundnut,2004,Whole Year,West Bengal,46467.00,71469,1612.9,5.034235e+06,9758.0700
19610,Ragi,2016,Winter,Odisha,32617.00,23981,1460.5,4.998555e+06,11415.9500
1692,Moong(Green Gram),2005,Rabi,Andhra Pradesh,132963.00,42623,1075.5,1.594492e+07,27922.2300

In [27]:
X_train

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide
19466,Groundnut,2011,Kharif,Goa,357.0,1022,3340.395455,59804.64,117.81
17802,Barley,2007,Kharif,Delhi,75.0,196,677.500000,10005.00,12.00
7014,Moth,1999,Whole Year,Uttar Pradesh,204.0,84,883.400000,21650.52,55.08
14078,Barley,2014,Rabi,Uttarakhand,21054.0,24800,1287.400000,3178311.84,6947.82
8121,Cotton(lint),2002,Kharif,Madhya Pradesh,552393.0,379455,800.800000,52295045.31,138098.25
...,...,...,...,...,...,...,...,...,...
11284,Rice,2009,Summer,Uttar Pradesh,24695.0,61514,585.800000,3847974.90,4198.15
11964,Maize,2010,Rabi,West Bengal,17229.0,84356,1096.000000,2861909.19,4134.96
5390,Onion,2017,Rabi,Tamil Nadu,16518.0,153558,970.900000,2600593.92,6276.84
860,Castor seed,2001,Kharif,Karnataka,21799.0,16137,1002.900000,2226331.87,5667.74
15795,Sesamum,2017,Kharif,Punjab,2700.0,900,497.500000,425088.00,1026.00