In [36]:
import numpy as np
import pandas as pd

In [37]:
df = pd.read_csv('crop_yield.csv')
df.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [38]:
df.shape

(19689, 10)

Checking for null and duplicate data

In [39]:
df.isnull().sum()

Crop               0
Crop_Year          0
Season             0
State              0
Area               0
Production         0
Annual_Rainfall    0
Fertilizer         0
Pesticide          0
Yield              0
dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             19689 non-null  object
 1   Crop_Year        19689 non-null  int64
 2   Season           19689 non-null  object
 3   State            19689 non-null  object
 4   Area             19689 non-null  float64
 5   Production       19689 non-null  int64
 6   Annual_Rainfall  19689 non-null  float64
 7   Fertilizer       19689 non-null  float64
 8   Pesticide        19689 non-null  float64
 9   Yield            19689 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 1.5+ MB

In [41]:
df.duplicated().sum()

0

In [42]:
df.describe()

,Crop_Year,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
count,19689.000000,1.968900e+04,1.968900e+04,19689.000000,1.968900e+04,1.968900e+04,19689.000000
mean,2009.127584,1.799266e+05,1.643594e+07,1437.755177,2.410331e+07,4.884835e+04,79.954009
std,6.498099,7.328287e+05,2.630568e+08,816.909589,9.494600e+07,2.132874e+05,878.306193
min,1997.000000,5.000000e-01,0.000000e+00,301.300000,5.417000e+01,9.000000e-02,0.000000
25%,2004.000000,1.390000e+03,1.393000e+03,940.700000,1.880146e+05,3.567000e+02,0.600000
50%,2010.000000,9.317000e+03,1.380400e+04,1247.600000,1.234957e+06,2.421900e+03,1.030000
75%,2015.000000,7.511200e+04,1.227180e+05,1643.700000,1.000385e+07,2.004170e+04,2.388889
max,2020.000000,5.080810e+07,6.326000e+09,6552.700000,4.835407e+09,1.575051e+07,21105.000000

Train Test Split

In [43]:
X = df.drop('Yield',axis=1)
y = df['Yield']

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [46]:
X_test

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide
18238,Peas & beans (Pulses),2016,Kharif,Jammu and Kashmir,210.00,1010,902.8,3.218250e+04,73.5000
6918,Maize,1999,Rabi,Odisha,8270.00,10280,1484.3,8.776951e+05,2232.9000
4894,Potato,2016,Winter,Meghalaya,6341.00,44026,3837.1,9.717582e+05,2219.3500
10960,Ragi,2008,Autumn,Jharkhand,29768.73,27189,1295.2,4.258119e+06,2679.1857
15615,Castor seed,2017,Kharif,Madhya Pradesh,8950.00,4970,800.0,1.409088e+06,3401.0000
...,...,...,...,...,...,...,...,...,...
8087,Onion,2002,Whole Year,Karnataka,114975.00,535821,860.8,1.088468e+07,28743.7500
14720,Jowar,2015,Autumn,West Bengal,25.00,9,1717.0,3.947750e+03,8.2500
9234,Groundnut,2004,Whole Year,West Bengal,46467.00,71469,1612.9,5.034235e+06,9758.0700
19610,Ragi,2016,Winter,Odisha,32617.00,23981,1460.5,4.998555e+06,11415.9500
1692,Moong(Green Gram),2005,Rabi,Andhra Pradesh,132963.00,42623,1075.5,1.594492e+07,27922.2300

In [47]:
X_train

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide
19466,Groundnut,2011,Kharif,Goa,357.0,1022,3340.395455,59804.64,117.81
17802,Barley,2007,Kharif,Delhi,75.0,196,677.500000,10005.00,12.00
7014,Moth,1999,Whole Year,Uttar Pradesh,204.0,84,883.400000,21650.52,55.08
14078,Barley,2014,Rabi,Uttarakhand,21054.0,24800,1287.400000,3178311.84,6947.82
8121,Cotton(lint),2002,Kharif,Madhya Pradesh,552393.0,379455,800.800000,52295045.31,138098.25
...,...,...,...,...,...,...,...,...,...
11284,Rice,2009,Summer,Uttar Pradesh,24695.0,61514,585.800000,3847974.90,4198.15
11964,Maize,2010,Rabi,West Bengal,17229.0,84356,1096.000000,2861909.19,4134.96
5390,Onion,2017,Rabi,Tamil Nadu,16518.0,153558,970.900000,2600593.92,6276.84
860,Castor seed,2001,Kharif,Karnataka,21799.0,16137,1002.900000,2226331.87,5667.74
15795,Sesamum,2017,Kharif,Punjab,2700.0,900,497.500000,425088.00,1026.00

In [48]:
y_test

18238    3.820000
6918     1.395357
4894     6.522727
10960    0.812857
15615    0.508000
           ...
8087     7.043600
14720    0.360000
9234     1.383333
19610    0.702727
1692     0.448333
Name: Yield, Length: 3938, dtype: float64

In [49]:
y_train

19466    2.860000
17802    2.610000
7014     0.447273
14078    1.170769
8121     0.535789
           ...
11284    2.130000
11964    3.234545
5390     9.684074
860      0.704000
15795    0.292222
Name: Yield, Length: 15751, dtype: float64

Converting Categorical To Numberical and Scaling the values

In [50]:
X_train['Crop'].value_counts()

Crop
Rice                     961
Maize                    778
Moong(Green Gram)        594
Groundnut                578
Urad                     572
Sesamum                  535
Potato                   519
Sugarcane                493
Wheat                    442
Bajra                    425
Rapeseed &Mustard        417
Jowar                    411
Arhar/Tur                401
Ragi                     400
Small millets            388
Gram                     387
Cotton(lint)             378
Onion                    361
Sunflower                361
Dry chillies             330
Other Kharif pulses      307
Horse-gram               303
Tobacco                  297
Soyabean                 286
Peas & beans (Pulses)    281
Other  Rabi pulses       279
Turmeric                 276
Masoor                   255
Ginger                   245
Barley                   245
Linseed                  243
Castor seed              234
Garlic                   219
Sweet potato             216
Banana                   189
Mesta                    171
Tapioca                  167
Niger seed               151
Coriander                150
Jute                     146
Sannhamp                 143
Coconut                  138
Safflower                130
Arecanut                 125
Other Cereals            118
Cowpea(Lobia)            109
Cashewnut                107
Black pepper             104
other oilseeds            99
Moth                      91
Khesari                   60
Cardamom                  57
Guar seed                 50
Oilseeds total            24
Other Summer Pulses        5
Name: count, dtype: int64

In [51]:
X_train['Season'].value_counts()

Season
Kharif         6577
Rabi           4600
Whole Year     2984
Summer          951
Autumn          323
Winter          316
Name: count, dtype: int64

In [52]:
X_train['State'].value_counts()

State
Karnataka            1145
Andhra Pradesh       1013
West Bengal           865
Chhattisgarh          733
Bihar                 722
Uttar Pradesh         673
Tamil Nadu            667
Madhya Pradesh        658
Gujarat               655
Maharashtra           627
Uttarakhand           618
Odisha                602
Assam                 592
Nagaland              538
Puducherry            528
Jammu and Kashmir     525
Meghalaya             514
Haryana               500
Himachal Pradesh      492
Kerala                420
Tripura               354
Manipur               351
Mizoram               329
Telangana             325
Punjab                309
Jharkhand             225
Arunachal Pradesh     218
Goa                   201
Sikkim                192
Delhi                 160
Name: count, dtype: int64

In [53]:
X_train.head(1)

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide
19466,Groundnut,2011,Kharif,Goa,357.0,1022,3340.395455,59804.64,117.81

In [54]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [55]:
ohe = OneHotEncoder(drop='first')
scaler = StandardScaler()

In [56]:
preprocessor = ColumnTransformer(
    transformers=[
        ('onehotencoder',ohe,[0,2,3]),
        ('standrization',scaler,[1,4,5,6,7,8])
    ],
    remainder='passthrough'
)

In [57]:
preprocessor

ColumnTransformer(remainder='passthrough',
                  transformers=[('onehotencoder', OneHotEncoder(drop='first'),
                                 [0, 2, 3]),
                                ('standrization', StandardScaler(),
                                 [1, 4, 5, 6, 7, 8])])

In [58]:
X_train_dummy = preprocessor.fit_transform(X_train)
X_test_dummy = preprocessor.fit_transform(X_test)

In [59]:
X_train_dummy

<15751x94 sparse matrix of type '<class 'numpy.float64'>'
	with 140298 stored elements in Compressed Sparse Row format>

In [60]:
X_test_dummy

<3938x94 sparse matrix of type '<class 'numpy.float64'>'
	with 35061 stored elements in Compressed Sparse Row format>

Model Building

In [61]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error,r2_score
from math import sqrt

In [62]:
models = {
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'KNeighborsRegressor':KNeighborsRegressor(),
    'DecisionTreeRegressor':DecisionTreeRegressor()
}

for name, mod in models.items():
    mod.fit(X_train_dummy,y_train)
    y_pred = mod.predict(X_test_dummy)
    print(f"{name} Root mean squared error : {sqrt(mean_squared_error(y_test,y_pred))} Score : {r2_score(y_test,y_pred)}")

LinearRegression Root mean squared error : 397.4566523659611 Score : 0.8028408252901147
Lasso Root mean squared error : 397.1660145787451 Score : 0.8031290627876574
Ridge Root mean squared error : 396.32518163838523 Score : 0.8039617641607242

KNeighborsRegressor Root mean squared error : 236.84609282992935 Score : 0.9299884165208978
DecisionTreeRegressor Root mean squared error : 373.54100211216155 Score : 0.8258537968839728

In [63]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [64]:
name='Neural Netework'
model = Sequential()
model.add(Dense(64, input_dim=X_train_dummy.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='linear'))

model.compile(loss='mean_squared_error', optimizer='adam')

model.fit(X_train_dummy, y_train, epochs=50, batch_size=32, verbose=1)

loss = model.evaluate(X_test_dummy, y_test, verbose=0)
print(f'Test Loss: {loss}')

y_pred = model.predict(X_test_dummy)

print(f"{name} Root mean squared error : {sqrt(mean_squared_error(y_test,y_pred))} Score : {r2_score(y_test,y_pred)}")

c:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 798973.0000
Epoch 2/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 689507.0625
Epoch 3/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 362782.3750
Epoch 4/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 320619.3750
Epoch 5/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 370658.2812
Epoch 6/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 323303.9062
Epoch 7/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 192841.4688
Epoch 8/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 199858.2656
Epoch 9/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 172200.5000
Epoch 10/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 130272.2891
Epoch 11/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 139149.4688
Epoch 12/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 117842.3516
Epoch 13/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 86543.9688
Epoch 14/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 80189.0312
Epoch 15/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 70214.4922
Epoch 16/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 59127.1289
Epoch 17/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 60445.5820
Epoch 18/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 71097.2656
Epoch 19/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 64644.1055
Epoch 20/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 71433.5391
Epoch 21/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 59381.7422
Epoch 22/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 54735.2812
Epoch 23/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53626.9453
Epoch 24/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 41226.9609
Epoch 25/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 66687.2422
Epoch 26/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 56739.7695
Epoch 27/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 35019.2930
Epoch 28/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 35653.5977
Epoch 29/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 31935.2480
Epoch 30/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 30992.5156
Epoch 31/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 33457.8008
Epoch 32/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 23405.7109
Epoch 33/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 37507.2344
Epoch 34/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 23319.5117
Epoch 35/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 30144.6387
Epoch 36/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 27479.0527
Epoch 37/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 27964.8164
Epoch 38/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 34758.6719
Epoch 39/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 26205.6562
Epoch 40/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 17720.0391
Epoch 41/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 23241.9590
Epoch 42/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 28738.5938
Epoch 43/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 25545.4414
Epoch 44/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 30587.6035
Epoch 45/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 37242.1055
Epoch 46/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 27951.1953
Epoch 47/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 28208.7910
Epoch 48/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 16858.9395
Epoch 49/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 25185.0449
Epoch 50/50
493/493 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 18500.5469
124/124 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 40642.2422
Test Loss: 35696.19921875
124/124 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step
Neural Netework Root mean squared error : 189.65204711052561 Score : 0.9551096986701543